@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

* {
    font-family: Outfit;
}

/* Define primary color variable */
:root {
    --primary: #5f6fff;
}

/* Utilities */
@layer utilities {

    /* Primary color utilities */
    .bg-primary {
        background-color: var(--primary);
    }

    .text-primary {
        color: var(--primary);
    }

    .border-primary {
        border-color: var(--primary);
    }

    .hover\:bg-primary:hover {
        background-color: var(--primary);
    }

    /* Custom grid-template-columns utility */
    .grid-cols-auto {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

/* Other styles */
.active hr {
    @apply block;
}

::-webkit-scrollbar {
    @apply hidden;
}